{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^./setup-env",
    "^@thantko/ui/(.*)$",
    "^@thantko/server/(.*)$",
    "^@thantko/common/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
